#top  {
  width: 800px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #dcc9f4;
  text-align: center;
}

.top-child {
  text-align: left;
  display: inline-block;
  width: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
    margin-left: auto;
  margin-right: auto;
  background-color: #ffd9df;
}

#middle  {
  position: relative;
  width: 800px;  
  margin: 20px 800px;
  height: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffd9df;
}

.middle-child01 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 100px;
  left: 100px;
  background-color: #87ceeb;
}

.middle-child02 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 300px;
  left: 300px;
  background-color: #87ceeb;
}

.middle-child03 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 500px;
  left: 500px;
  background-color: #87ceeb;
}


#bottom  {

  width: 800px;  
  margin: 20px  800px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: #87ceeb;
}

#bottom-child01 {

  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
}

#bottom-child02 {
  position: relative;
  width: 400px;
  height: 100px;
  left: 200px;
  background-color: #e5dcf0;
}

#bottom-child03 {
  position: relative;
  width: 400px;
  height: 100px;
  left: 400px;
  background-color: #e5dcf0;
}